<%= render 'navigationbar' %>
<br>
<br>
<br>
<!-- Bagian Content -->
    <div class="container clearfix">
      <div class="row row-offcanvas row-offcanvas-left ">
        <!--Bagian Kiri-->
        <div class="col-xs-12 col-sm-3 side pull-left sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
            <h1>Riku Kiranatama</h1>
      			           
      			<%= image_tag("taeyeon.jpg",  :class => "img-circle", :width => "150" , :height => "150" ) %>
          </div>
          
        </div>

        <!--Bagian Kanan-->
        <div id="main-content" class="col-xs-12 col-sm-9 main pull-right">
         <div class="panel-body">
           <table  class="table table-bordered table-hover table-striped display" >
             <thead>
               <tr>
                 <th>Nama</th>
                 <th>Riku</th>
                </tr>
                <tr>
                 <th>Tempat,Tanggal Lahir</th>
                 <th>17-Agustus-1945</th>
                </tr>
                <tr>
                 <th>Jenis Kelamin</th>
                 <th>Laki-Laki</th>
                </tr>
                <tr>
                 <th>Alamat</th>
                 <th>Domisili</th>
                </tr>
             </thead>
        
           </table>
          </div>
        </div>
      </div>
    </div>